﻿/*
    Overwrite default Kendo UI style
*/

.k-header
{
    white-space: normal !important;
    
}

.k-grid-header .k-header 
{
    background-color:#eee;
}

.k-menu
{
    border-right:none !important;
}

.k-tabstrip .k-tabstrip-items {
    padding: .3em .29em 0 !important;
}

.k-grid-header .k-header 
{
    text-align:center !important;
}

.k-popup, .k-menu .k-group, .k-grid .k-filter-options, .k-time-popup, .k-datepicker-calendar, .k-autocomplete.k-state-border-down, .k-autocomplete.k-state-border-up, .k-dropdown-wrap.k-state-active, .k-picker-wrap.k-state-active, .k-imagebrowser .k-image 
{
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
}