html
{
	font:75% Segoe UI,Tahoma Light,Arial Light,Helvetica,sans-serif;
	height:100%;
}

*
{
	margin:0;
	padding:0;
}

body
{
	background-color:#fff;
	height:100%;
	min-width:1000px;
}

a
{
	color:#1E91FC;
	font-weight:inherit;
	text-decoration:none;
	cursor:pointer;
}

a:hover
{
	color:rgba(30,145,252,.8);
}

/*
    Header
*/

.app-name
{
	color:#8ebc00;
	font-family:Segoe UI Light,Tahoma Light,Arial Light,Helvetica,sans-serif;
	font-size:3.5em;
}

.app-name-wrapper
{
	float:left;
	margin:0 5px 5px;
}

.company
{
	color:#ccc;
	font-size:.9em;
	text-transform:uppercase;
}

.icon-user-left
{
	float:left;
}

.logout
{
	float:left;
	margin:2px 10px 0 0;
}

.logout-wrapper
{
	float:right;
}

.reg-number,.company-name
{
	color:#aaa;
	font-size:.9em;
}

.user-info
{
	float:right;
	margin:2px 0 0 5px;
}

.user-info-wrapper
{
	float:right;
	margin:5px;
}

.username
{
	font-weight:700;
	text-transform:uppercase;
}

/*
    Footer
*/

.footer
{
	height:88px;
	margin-top:-88px;
}

.footer-info-tel
{
	float:right;
	padding-left:10px;
	padding-right:10px;
	text-align:right;
}

.footer-info-tel-separator
{
	border-left:1px solid #eee;
}

.footer-info-text
{
	float:left;
	padding-left:10px;
	padding-top:5px;
	text-align:left;
}

.footer-panel
{
	border-top:1px solid #ddd;
	position:relative;
}

.footer-text
{
	font-size:.95em;
	height:50px;
	padding-bottom:5px;
	padding-top:5px;
}

.hFooter
{
	clear:both;
	height:88px;
}

.tel
{
	font-weight:700;
}

.version
{
	color:#ccc;
	float:right;
	font-size:.9em;
	padding:10px 10px 0 0;
}

.version-wrapper
{
	height:25px;
}


/*
    General elements
*/

#menu
{
    border:none;
    padding: 20px 0;
    height: 30px;
}

#menu .main-menu-item 
{
    font-size:1.5em;
}

#menu .sub-menu-item
{
    font-size: 1.22em;
}

.data-block
{
	min-height:100%;
}

.data-block-wrapper
{
	margin:5px;
}

.header-text
{
	text-align:center;
}

.input-search
{
	border:none;
	margin:4px 0;
	outline:none;
	width:200px;
}

.input-search-wrapper
{
	border:1px solid #ddd;
	margin:0 0 0 5px;
	padding:0 2px;
}

.input-search-wrapper:hover
{
	border-color:#8ebc00;
}

.item-action
{
	text-transform:uppercase;
}

.loading
{
	color:#8ebc00;
}

.loading-wrapper
{
	height:15px;
	margin:0 auto;
	width:170px;
}

.paginator
{
	color:#787878;
	font-size:1.1em;
}

.sub-menu-item
{
	text-align:left!important;
}

.tabs
{
	border:none!important;
}

.title-section
{
	color:#8ebc00;
	float:left;
	font-size:1.5em;
}

.toolbar-panel,.search-panel,.controls
{
	float:right;
}

.toolbar-panel-wrapper
{
	/*border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-top:1px solid #ddd;
	box-shadow:1px 0 2px #eee;*/
	height:25px;
	padding:20px 0;
}

.viewSummary
{
	color:#787878;
	font-size:.9em;
	width:100%;
}

.no-data
{
    display:none;
	height:15px;
	margin:0 auto;
	text-align: center;
	width:300px;
}

.no-data-refresh
{
	cursor:pointer;
}

.error-message-text {
	margin: 10px auto;
	width: 420px;
	padding: 10px;
	border:1px solid #ddd;
	color:#a00;
}

/*
    Icons
*/

.icon
{
	background-position:center center;
	background-repeat:no-repeat;
	display:inline-block!important;
	vertical-align:text-top;
}

.icon-loading
{
	background-image:url(images/loading.gif);
	height:15px;
	line-height:15px;
	width:100px;
}

.icon-search
{
	background-image:url(images/toolbar_find.png);
	height:16px;
	line-height:16px;
	width:16px;
}

.icon-user
{
	background-image:url(images/User-With-Frame_.png);
	height:48px;
	line-height:48px;
	width:48px;
}