﻿<% _.each( data, function( item, key ){ %>
    <tr <%= key%2!=0 ? "class='k-alt'" : "" %>>
        <td>
            <i>
                <%=item.RegNumber %>
            </i>
        </td>
        <td class="header-text">
            <%=item.AnnouncedDate %>
        </td>
        <td>
            <%=item.AuctionName %>
        </td>
        <td>
            <%=item.Customer %>
        </td>
        <td>
            <%=item.Finance %>
        </td>
        <td class="header-text">
            <%=item.OffersTotalCount %>
        </td>
        <td class="header-text">
            <%=item.DeliveryDate %>
        </td>
        <td class="header-text">
            <%=item.TradeDate %>
        </td>
        <td class="header-text">
            <%=item.AuctionStatusText %>
        </td>
    </tr>
<% }); %>