﻿<% if (page > 1) { %>
    <span>
        <a href="#" class="k-button" data-page="<%= page-1 %>">
            ←
        </a>
    </span>
<% } %>
<% if (leftDots) {%>
    <span>
        <a href="#" class="k-button" data-page="1">
            1
        </a>
    </span>
    <span class="disabled">...</span>
<% } %>

<% for (var i = navBegin; i <= navEnd; i++) { %> 
    <span>
        <a href="#" class="k-button <% if (page == i) print("k-state-selected") %>" data-page="<%= i %>">
            <%= i %>
        </a>
    </span> 
<% } %>

<% if (rightDots) {%>
    <span class="disabled">...</span>
    <span>
        <a href="#" class="k-button" data-page="<%= totalPages %>">
            <%= totalPages %>
        </a>
    </span>
<% } %>

<% if (page < totalPages) { %>
    <span>
        <a href="#" class="k-button" data-page="<%= page+1 %>">
            →
        </a>
    </span>
<% } %>