﻿<div style="margin:10px 0;">
    Всего <b><%= viewSummary.totalRecords %></b> аукционов, отображено с <b><%= viewSummary.fromRecords%></b> по <b><%= viewSummary.toRecords%></b>. Текущая страница <b><%= state.page%></b> из <b><%= viewSummary.totalPages%></b>.
</div>