﻿@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" href="/Content/Site.css"/>
    <link rel="stylesheet" href="/Content/overwrite-kendo-ui.css"/>
    <link rel="stylesheet" href="/Content/kendo.common.min.css"/>
    <link rel="stylesheet" href="/Content/kendo.metro.min.css"/>
</head>
<body>
    <div class="data-block">
        <div class="header">
            <div class="app-name-wrapper">
                <div class="app-name">Персональный раздел</div>
                <div class="company">ОАО "Белорусская универсальная товарная биржа"</div>
            </div>
            <div class="user-info-wrapper"> 
                <div class="user-info">
                    <span class="username">Тайновский Леонид Семенович</span>
                    <br/>
                    <span class="reg-number">Регистрационный номер: 000227210004</span>
                    <br/>
                    <span class="company-name">ООО "ЮТАЛАЙН"</span>
                </div>

                <div class="logout-wrapper">
                    <div class="logout">
                        <a href="#" class="item-action">Выйти</a>
                    </div>
                    <i class="icon icon-user icon-user-left"></i>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>

        <!-- Блок меню -->
        
        <ul id="menu">
            <li>
                <span class="main-menu-item">
                    НЕДОПУСК
                </span>
            </li>
            <li>
                <span class="main-menu-item">
                    ЗАМЕЧАНИЯ
                </span>
            </li>
            <li>
                <span class="main-menu-item">
                    ДОКУМЕНТЫ
                </span>
            </li>
            <li>
                <span class="main-menu-item">
                    ПРИНЯТЫЕ ЗАЯВКИ
                </span>
            </li>
            <li>
                <span class="main-menu-item">
                    БИРЖЕВОЙ СБОР
                </span>
            </li>
            <li style="border:none;">
                <span class="main-menu-item">
                    ЭЛЕКТРОННЫЕ ДОКУМЕНТЫ
                </span>
                <ul>
                    <li class="sub-menu-item">
                        Договоры
                    </li>
                    <li class="sub-menu-item">
                        Дополнительные соглашения
                    </li>
                </ul>
            </li>
        </ul>

        <div class="data-wrapper">

            <div>
                <div id="tabstrip" class="tabs">
                    <ul>
                        <li class="k-state-active">
                            Информация о недопуске фирмы
                        </li>
                        <li>
                            Информация о недопуске трейдера
                        </li>
                        <li>
                            Информация о недопуске клиентов
                        </li>
                    </ul>
                    <div>
                        <div class="toolbar-panel-wrapper">
                            <div class="title-section">
                                РЕЕСТР АУКЦИОНОВ
                            </div>
                            <div class="toolbar-panel">
                                <div class="search-panel">
                                    <div class="input-search-wrapper ">
                                        <input  class="input-search" placeholder="Поиск..."/>
                                        <i class="icon icon-search"></i>
                                    </div>
                                </div>

                                <div class="controls">

                                    <select id="combobox" style="width:300px;">
                                        <option>Металлопродукция</option>
                                        <option>Лесопродукция</option>
                                        <option>Сельхозпродукция</option>
                                        <option>Промышленные и потребительские товары</option>
                                    </select>

                                    <input id="datepicker" readonly="true" />

                                    <button href="#" class="k-button">ДОБАВИТЬ</button>
                                    <button class="k-button">ИЗМЕНИТЬ</button>
                                    <button href="#" class="k-button">УДАЛИТЬ</button>
                                </div>
                            </div>
            
                        </div>

                        <div class="grid-wrapper">
                            <div class="k-grid k-widget">
                                <table cellspacing="0" style="table-layout:fixed;">
                                    <thead class="k-grid-header">
                                        <tr>
                                            <th class="k-header"  style="width: 130px;">
                                                Регистрационный номер
                                            </th>
                                            <th class="k-header"  style="width: 100px;">
                                                Дата опубликования
                                            </th>
                                            <th class="k-header">
                                                Наименование
                                            </th>
                                            <th class="k-header">
                                                Заказчик / организатор / уп. организация
                                            </th>
                                            <th class="k-header">
                                                Финансирование
                                            </th>
                                            <th class="k-header"  style="width: 30px;">
                                                -
                                            </th>
                                            <th class="k-header"  style="width: 100px;">
                                                Срок подачи предложений
                                            </th>
                                            <th class="k-header"  style="width: 100px;">
                                                Дата торгов
                                            </th>
                                            <th class="k-header"  style="width: 100px;">
                                                Статус аукциона
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="dataBlock">
                                    </tbody>
                                </table>
                            </div>
                            <div class="loading-wrapper">
                            </div>
                            <div class="no-data">
                                Извините, но в данном разделе у вас ничего нет <span class="no-data-refresh" title="Обновить"><i class="k-icon k-i-refresh"></i></span>
                            </div>
                            <div class="error-message-block">
                            </div>
                        </div>

                        <div class="viewSummary">
                        </div>

                        <div class="paginator">
                        </div>
                    </div>

                    <div>
                    </div>

                    <div>
                    </div>
                </div>
            </div>

            <div class="hFooter"></div>

        </div>
    </div>

<div class="footer k-content">
    <div class="version-wrapper">
        <div class="version">
            <b>
                build 1.0.5.18586 
                (
                    22.02.2013
                )
            </b>
        </div>
    </div>
    <div class="footer-panel">
        <div class="footer-text">
            <div class="footer-info-text">
                © ОАО «Белорусская универсальная товарная биржа» 2005-2013<br/>
                Персональный раздел участников торгов<br/>
                Все права защищены
            </div>
            <div class="footer-info-tel footer-info-tel-separator">
                Аккредитация <span class="tel">(+375 17) 218-37-50, 218-37-51</span><br/>
                Бухгалтерия <span class="tel">(+375 17) 219-73-31</span><br/>
                Контроль за исп. сделок <span class="tel">(+375 17) 218-37-54</span><br/>
                Информационная безопасность <span class="tel">(+375 17) 218-37-83</span>
            </div>
            <div class="footer-info-tel">
                Металлопродукция <span class="tel">(+375 17) 224-46-93</span><br/>
                Сельхозпродукция <span class="tel">(+375 17) 219-71-63</span><br/>
                Лесопродукция <span class="tel">(+375 17) 224-19-23</span><br/>
                ПиПТ <span class="tel">(+375 17) 218-39-80</span>
            </div>
                
        </div>
    </div>
</div>


<script type="text/javascript" src="/Scripts/ref/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/Scripts/ref/underscore.js"></script>
<script type="text/javascript" src="/Scripts/ref/backbone.js"></script>
<script type="text/javascript" src="/Scripts/ref/kendo.web.min.js"></script>
<script type="text/javascript" src="/Scripts/ref/kendo.culture.ru-RU.min.js"></script>
<script type="text/javascript" src="/Scripts/utils.js"></script>
<script type="text/javascript" src="/Scripts/index.js"></script>

<script type="text/javascript">
    $(function () {
        App.start('@Url.Content("~/")');

        $("#menu").kendoMenu();
        $("#tabstrip").kendoTabStrip();
        $("#combobox").kendoComboBox();
        $("#datepicker").kendoDatePicker({
            value: new Date(),
            format: "dd.MM.yyyy",
            culture: "ru-RU"
        });
    });
</script>

</body>
</html>

